*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input[type^="image"] {
    max-width: 100%;
    height: auto;
}

a {
    color: yellow;

    &:hover,
    &:focus {
        color: #c8da64;
    }

    &:visited {
        color: darkgrey;
    }
}

body {
    text-align: center;
    background-color: rgb(50, 38, 128);
    font-family: Arial, Helvetica, Cambria, sans-serif;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;

    & h1 {
        font-size: 2rem;
    }

    & h2 {
        font-size: 1.25rem;
        font-weight: 400;
        padding-bottom: 2rem;
    }

    &:after {
        content: "";
        border-bottom: 1px solid rgb(240, 248, 255, .25);
        width: 80%;
        margin: 0 auto;
    }
}


.game {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.points {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    font-family: Cambria;

    & span {
        color: #c1e014;
        font-size: 2.15rem;
    }
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.game-buttons {
    transition: all 100ms;
    transform: scale(1);

    &:hover {
        transform: scale(1.1);
    }
}

[id^="btn"]:disabled {
    transform: scale(0.75);
    opacity: 0.5;
    cursor: default;
}

#resultMessage {
    height: 2rem;
}

.modal {
    background-color: aliceblue;
    width: 30ch;
    margin: auto;
    height: fit-content;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid rgb(50, 38, 128);
    border-radius: 5px;
    position: relative;
}

.reset-button {
    width: fit-content;
    height: 4rem;
    background-color: rgb(50, 38, 128);
    color: aliceblue;
    font-size: 1.25rem;
    margin-block: 2rem;
    padding: .25em 1.25em;
    outline: 2px solid aliceblue;
    outline-offset: -4px;
    border-radius: 5px;
    cursor: pointer;
}

.endMessage {
    margin-top: 2.5rem;
    font-size: 1.5rem;
    color: rgb(50, 38, 128);
}

.close-button {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: transparent;
    font-size: 1.25rem;
    font-weight: 700;
    color: rgb(120, 23, 23);
    border: none;
    padding: .75rem 1.25rem;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

footer {
    font-size: .75rem;
    margin-top: auto;
    padding: 1rem;
}